<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Second Hand Trading Platform</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->

            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${session.username}"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/user/lookinfo">Profile</a></dd>
                        <dd><a lay-href="/user/pass">Update password</a></dd>
                        <hr>
                        <dd style="text-align: center;">
                            <a th:href="@{/user/logout}">Logout</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                    <span>SHTP</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">

                    <li data-name="user" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>User Manage</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="/admin/userlist">Users</a>
                            </dd>
                        </dl>
                        <dl shiro:hasPermission="admin:set" class="layui-nav-child">
                            <dd>
                                <a lay-href="/admin/adminlist">Managers</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="template" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="" lay-direction="2">
                            <i class="layui-icon layui-icon-template"></i>
                            <cite>Product</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="/admin/product">Product List</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="" lay-direction="2">
                            <i class="layui-icon layui-icon-read"></i>
                            <cite>Notice</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="/news/torelnews">Publish</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="/admin/newslist">Notice list</a>
                            </dd>
                        </dl>
                    </li>

<!--                    <li shiro:hasPermission="user:userinfo" data-name="username" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="管理员信息" lay-direction="2">
                            <i class="layui-icon layui-icon-username"></i>
                            <cite>管理员信息</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="/user/lookinfo">基本资料</a></dd>
                            <dd><a lay-href="/user/pass">修改密码</a></dd>
                            <dd><a lay-href="/user/phone">更换手机号</a></dd>
                        </dl>
                    </li>-->
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">

            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/admin/product" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/admin/product" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>
</body>
</html>


