<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/userInfo/relgoods.css}"/>
    <script type="text/javascript" th:src="@{/static/layui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/userInfo/ckplayer.js}"></script>
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=AIzaSyDo_DjtOGiptsI11Uzk3xkMUT4Z4FicMOw&libraries=places'}"></script>
    <title></title>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    </script>
</head>
<body style="background-color:white">
<form class="layui-form" id="goodsform" style="margin-top: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Product name:</label>
        <div class="layui-input-block">
            <input type="text" name="commname" lay-verify="required" autocomplete="off" placeholder="Product name"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"><span style="color: red">*</span>Product desc</label>
        <div class="layui-input-block">
            <textarea placeholder="" name="commdesc" lay-verify="required" autocomplete="off"
                      class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Video</label>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="test1">Upload video</button>
        </div>
    </div>
    <div class="videosamplex" id="videosamplex" style="width:600px;height:400px;margin-left:100px;margin-bottom:15px;display: none">
        <video id="videoplayer"></video>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">Origin Price</label>
        <div class="layui-input-block">
            <input type="number" name="orimoney" autocomplete="off" placeholder=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"><span style="color: red">*</span>Price</label>
        <div class="layui-input-block">
            <input type="number" name="thinkmoney" lay-verify="required" autocomplete="off" placeholder="Price"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Category</label>
        <div class="layui-input-block">
            <select name="category" lay-filter="required">
                <option value="3C" selected="">3C</option>
                <option value="Book">Book</option>
                <option value="Daily Use">Daily Use</option>
                <option value="Clothing">Clothing</option>
                <option value="Beauty">Beauty</option>
                <option value="Travel">Travel</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Common options</label>
        <div class="layui-input-block">
            <input type="radio" name="common" value="No bargaining" title="No bargaining" checked="">
            <input type="radio" name="common" value="Bargaining" title="Bargaining">
            <input type="radio" name="common2" value="Deliverable" title="Deliverable" checked="">
            <input type="radio" name="common2" value="Pickup only" title="Pickup only">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Main Pic</label>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="test2">Upload Main Pic</button>
        </div>
    </div>
    <div id="mainimage" style="display: none;margin-left:100px;margin-bottom:10px">
        <img :src="mainimg" style="width:300px;height:200px;cursor: pointer" id="imageurl"
             @click="openimg(mainimg)">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Other Pic</label>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="test3">Upload Other Imges</button>
        </div>
    </div>

    <div id="otherimages" style="margin-top:0px;display: none;margin-left:100px;margin-bottom:10px">
        <div class="imgDiv" v-for="(img,index) in listimages"
             :key="index" :id="'img'+index" @mouseover="mouseOver(index)" @mouseleave="mouseLeave(index)">
            <img :src="img.imgsrc" style="width:300px;height:200px;cursor: pointer"
                 @click="openimg(img.imgsrc)">
            <img th:src="@{/static/images/close.png}" class="delete"
                 @click="delimage(index)" :id="'del'+index" style="cursor: pointer">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block" style="color:#C62F2F">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Location </label>
        <div class="layui-inline">
            <input type="text"  id="address-input"  placeholder="Input address"  class="layui-input">
            <div   style="border:0;width: 600px;height: 450px;" allowfullscreen=""  id="map"></div>
        </div>
        <input type="hidden" id = "goodPosition" name = "goodPosition"/>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" id="demo1" lay-filter="demo1">Submit</button>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/userInfo/relgoods.js}"></script>
</html>