<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gla.catarina.mapper.ShopUserRoleMapper">



    <!-- 修改用户的角色 -->
   <update id="UpdateUserRole" parameterType="com.gla.catarina.entity.ShopUserRole">
      update shop_user_role set roleid=#{roleid}  where userid=#{userid}
    </update>

</mapper>
