<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gla.catarina.mapper.ShopUserInfoMapper">


    <!-- 查询所有用户信息 -->
    <select id="queryAllUserInfo" resultType="com.gla.catarina.entity.ShopUserInfo">
        select u.userid, u.username,u.uimage,u.sex,u.mobilephone,u.email,u.school,u.faculty,u.userstatus,l.roleid
        from shop_user_info u,shop_Login l
        where u.userid=l.userid and l.roleid=#{roleid} and u.userstatus=#{userstatus}
        order by u.createtime desc limit #{page},#{count}
    </select>
    <!--查看所有用户总数-->
    <select id="queryAllUserCount" resultType="java.lang.Integer">
        select count(*)
        from shop_user_info u,shop_Login l
        where u.userid=l.userid and l.roleid=#{roleid}
    </select>



</mapper>
