<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <script th:src="@{/static/layui/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/946d63ec4ba6a3c5be78.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fefaf0dbda4fa986ba98.css}"/>
    <title>校园二手交易商城 | 订单预览</title>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    </script>
</head>
<body>
<div class="layui-container" style="margin-top:20px">
    <div class="layui-form row" >
        <div class="layui-col-xs2"></div>
        <div class="layui-col-xs8">
            <div style="border:1px solid rgba(0,0,0,.2);border-radius:.3rem;background-color:white;padding: 20px 50px;">
                <header id="modal-purchase___BV_modal_header_" class="modal-header">
                    <div data-v-0f103e85="" class="custom-modal-header w-100 vertical-center">
                        <h3 data-v-0f103e85="" class="no-margin" th:text="${orders.commname}"></h3>
                    </div>
                </header>

                <label class="layui-form-label" style="width: 150px;">支付方式</label>
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: 300px;">
                        <input type="radio" name="payWay" value="1" title="" checked="">
                        <img th:src="@{/static/images/mastercard.jpg}"style="width:80px;height:70px;border:1px solid #fff;">
                        &nbsp;&nbsp;<img th:src="@{/static/images/visacard.jpg}"style="width:80px;height:70px;border:1px solid #fff;">

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input style="width: 250px;" lay-verify="cardNumber"  type="text" name="cardNumber" required   placeholder="Card Number" autocomplete="off" maxlength="16" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="margin: 0px;">
                        <div class="layui-input-inline" style="width: 51px;margin: 0px;">
                            <input  style="width: 50px;" type="number" name="cardNumber" required lay-verify="month"  placeholder="MM" autocomplete="off"  maxlength="2" class="layui-input">
                        </div>
                    </div>
                    /
                    <div class="layui-inline" style="margin: 0px;">
                        <div class="layui-input-inline"  style="width: 51px;margin: 0px;">
                            <input  style="width: 50px;" type="number" name="cardNumber" required lay-verify="year" placeholder="YY" autocomplete="off"  maxlength="2" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input style="width: 250px;"  type="text" name="cardNumber" required lay-verify="required" placeholder="Name on Card" autocomplete="off"  maxlength="16" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input style="width: 250px;"  type="text" name="cardNumber" required lay-verify="cvc" placeholder="CVC" autocomplete="off"  maxlength="6" class="layui-input">
                    </div>
                </div>


                <hr style="color:#DEE2E6;background-color:#DEE2E6">
                <div class="layui-container">
                    <div class="row">
                        <div class="layui-col-xs6" style="padding:10px 0px 30px 30px;">
                            <div data-v-0f103e85="" class="box-left">
                                <span data-v-0f103e85="" class="vertical-middle font-18">付款:</span>
                                <strong data-v-0f103e85="" class="color-red vertical-middle real-price"
                                        style="font-size:40px" th:text="'￥'+${orders.price}"></strong>
                            </div>
                        </div>
                        <div class="layui-col-xs6" style="padding:10px 0px 30px 30px;line-height:60px;">
                           <!-- <form id="payForm" method="post" th:action="@{/alipay/gopay}">-->
                            <form id="payForm" class="layui-form">
                                <input type="hidden" name="orderid" th:value="${orders.ordernumber}"/>
                                <input type="submit" class="btn btn-confirm btn-danger" lay-submit lay-filter="*"
                                       style="" value="确认购买">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs2"></div>
    </div>
</div>

</body>
<script th:src="@{/static/layui/layui.js}"></script>
<script>
    layui.use(['form', 'element', 'util', 'carousel', 'laypage', 'layer', 'table', 'layedit', 'upload'], function () {
        var element = layui.element;
        var util = layui.util;
        var form = layui.form;
        var carousel = layui.carousel;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var layedit = layui.layedit
            , upload = layui.upload
            , laypage = layui.laypage;

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,cardNumber: [
                /^[\S]{16}$/
                ,'卡号必须16位，且不能出现空格'
            ]
            ,month: [
                /^(0[1-9]|1[0-2])$/
                ,'请正确填写月份'
            ]
            ,year: [
                /^(2[3-9]|3[0-9]\\d)$/
                ,'请正确填写年份'
            ]
            ,cvc: [
                /^[\S]{3}$/
                ,'密码为3位'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        form.on('submit(*)', function(data){
            layer.open({
                title: 'Pay Success'
                ,content: 'You have made a successful payment!!!'
                ,btn: ['OK']
                ,yes: function(index, layero){
                    window.location.href = basePath;
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</html>